@media (min-width: 768px)
.bs-glyphicons {
    margin-right: 0;
    margin-left: 0;
}

.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.bs-glyphicons-list li{
    float: left;
}

.markItem{
    width: 200px; 
    height: 200px;
    background-color: #f9f9f9;
    border: 15px solid #fff;
}
.markItem div{
    width: 100%;
    height: 100%;
}
.markItem .glyphicon{
    float: right;
    padding: 10px;
    font-size: 20px;
}

.markBlock:hover{
    background-color: #6f5499;
}